<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
  <div class="brand">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <i class="bi bi-tag-fill"></i>
      </div>
      <p>Bara Bara</p>
    </div>
  </div>
  <div class="profile">
    <div class="d-flex justify-content-center">
      <i class="bi bi-person-circle"></i>
    </div>
    <p>Cesar Cortes</p>
    <p>cesar@gmail.com</p>
  </div>
  <div class="menu">
    <div class="title">
      <div class="d-flex justify-content-center align-items-center">
        <p>Categories</p>
        <div class="line"></div>
      </div>
    </div>
    <ul class="options">
      <li class="option d-flex align-items-center">
        <p>All</p>
        <i class="bi bi-caret-right-fill"></i>
      </li>
      <li class="option d-flex align-items-center">
        <p>Cotlhes</p>
        <i class="bi bi-caret-right-fill"></i>
      </li>
      <li class="option d-flex align-items-center">
        <p>Electronics</p>
        <i class="bi bi-caret-right-fill"></i>
      </li>
      <li class="option d-flex align-items-center">
        <p>Toys</p>
        <i class="bi bi-caret-right-fill"></i>
      </li>
      <li class="option d-flex align-items-center">
        <p>Others</p>
        <i class="bi bi-caret-right-fill"></i>
      </li>
    </ul>
  </div>
</div>
