<div class="content">
  <app-sidebar></app-sidebar>
  <main [ngClass]="collapsed ? 'main-collapsed' : ''">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center" routerLink="/home">
                      <i class="bi bi-caret-left-fill"></i>
                      <p>Back to results</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                      alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <p class="title">Handmade Plastic Cheese</p>
                    <div class="stars d-flex">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                    </div>
                    <span class="badge">Stock</span>
                    <button class="btn btn-primary d-flex" (click)="addToCart()">
                      <i class="bi bi-cart-plus"></i>
                      <p>Add to card</p>
                    </button>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                    <div class="info-extra d-flex align-items-center justify-content-center">
                      <div>
                        <p>Available Stock</p>
                        <p>1,000</p>
                      </div>
                      <div>
                        <p>Number of Orders</p>
                        <p>2,000</p>
                      </div>
                      <div>
                        <p>Revenue</p>
                        <p>2,000</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">
                        <p>Product</p>
                      </th>
                      <th scope="col">
                        <p>Price</p>
                      </th>
                      <th scope="col">
                        <p>Stock</p>
                      </th>
                      <th scope="col">
                        <p>Raiting</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p>Handmade Plastic Cheese</p>
                      </td>
                      <td>
                        <div>
                          <p>1000</p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="progress green">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>1000</p>
                        </div>
                      </td>
                      <td>
                        <div class="stars d-flex">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Handmade Plastic Cheese</p>
                      </td>
                      <td>
                        <div>
                          <p>500</p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="progress yellow">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>500</p>
                        </div>
                      </td>
                      <td>
                        <div class="stars d-flex">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Handmade Plastic Cheese</p>
                      </td>
                      <td>
                        <div>
                          <p>1000</p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="progress green">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>1000</p>
                        </div>
                      </td>
                      <td>
                        <div class="stars d-flex">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
