.content {
  display: grid;
  grid-template-columns: 260px 100%;
  grid-auto-rows: 1fr 1fr;
  main {
    width: calc(100% - 260px);
    height: 100%;
    background-color: var(--color-background);
    left: auto;
    padding: 100px 30px 30px 30px;
    transition: all .5s ease;
    margin-left: 0;
    .card {
      box-shadow: var(--ct-box-shadow);
      border-radius: 5px;
      border: 0px;
      height: calc(100vh - 130px);
      cursor: default;
      .card-body {
        padding: 1.5rem 1.5rem;
        .row {
        }
      }
    }
  }
  .main-collapsed {
    width: 100%;
    margin-left: -260px;
  }
}
