<main>
  <div class="form">
    <div>
      <div class="row">
        <div class="col-lg-12">
          <p class="title">Sign in</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="text">Welcome to Ecommerce Bara Bara, you can find various products at affordable prices for your home, office or car</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="formSigin" (ngSubmit)="sigin()" autocomplete="off">
            <div class="mb-3">
              <label for="nameFormControl" class="form-label">Name</label>
              <input type="text" class="form-control" id="nameFormControl" placeholder="Enter your name"
                formControlName="userName" autocomplete="off"
                [ngClass]="{ 'is-invalid': userName?.invalid && (userName?.dirty || userName?.touched) }">
                <div class="container-error-message mt-2"
                  *ngIf="userName?.invalid && userName?.errors?.['required']">
                  <p>Name is required</p>
                </div>
            </div>
            <div class="mb-3">
              <label for="emailFormControl" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailFormControl" placeholder="Enter your email"
                formControlName="userEmail" autocomplete="off"
                [ngClass]="{ 'is-invalid': userEmail?.invalid && (userEmail?.dirty || userEmail?.touched) }">
                <div class="container-error-message mt-2"
                  *ngIf="userEmail?.invalid && userEmail?.errors?.['required']">
                  <p>Email is required</p>
                </div>
                <div class="container-error-message mt-2"
                  *ngIf="(userEmail?.dirty || userEmail?.touched) && userEmail?.invalid && userEmail?.errors?.['pattern']">
                  <p>Value has to be a valid email address.</p>
                </div>
            </div>
            <div class="mb-3">
              <label for="passwordFormControl" class="form-label">Password</label>
              <input type="password" class="form-control" id="passwordFormControl" placeholder="Enter your password"
                formControlName="userPassword" autocomplete="off"
                [ngClass]="{ 'is-invalid': userPassword?.invalid && (userPassword?.dirty || userPassword?.touched) }">
              <div class="container-error-message mt-2"
                *ngIf="userPassword?.invalid && userPassword?.errors?.['required']">
                <p>Password is required</p>
              </div>
              <div class="container-error-message mt-2" *ngIf="userPassword?.errors?.['minlength']">
                <p>Password must be at least 6 characters long.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="password2FormControl" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="password2FormControl" placeholder="Enter your password"
                formControlName="userConfirmPassword" autocomplete="off"
                [ngClass]="{
                  'is-invalid': userConfirmPassword?.invalid &&
                  (userConfirmPassword?.dirty || userConfirmPassword?.touched) ||
                  userConfirmPassword?.errors?.['matching']
                }">
                <div class="container-error-message mt-2"
                  *ngIf="userConfirmPassword?.invalid && userConfirmPassword?.errors?.['required']">
                  <p>Confirm Password is required</p>
                </div>
                <div class="container-error-message mt-2"
                  *ngIf="userConfirmPassword?.errors?.['matching']">
                  <p>Confirm Password does not match</p>
                </div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary button-p" [disabled]="formSigin.invalid">Sign up</button>
            </div>
            <p>Do you already have an account? <a routerLink="/login" class="text-redirect">Log in</a></p>
            <div class="social">
              <button type="button" class="btn btn-primary google">
                <div class="d-flex align-items-center">
                  <i class="bi bi-google"></i>
                  <p>Login with Google</p>
                </div>
              </button>
              <button type="button" class="btn btn-primary facebook">
                <div class="d-flex align-items-center">
                  <i class="bi bi-facebook"></i>
                  <p>Login with Facebook</p>
                </div>
              </button>
              <button type="button" class="btn btn-primary twitter">
                <div class="d-flex align-items-center">
                  <i class="bi bi-twitter"></i>
                  <p>Login with Twitter</p>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
