<nav class="navbar fixed-top navbar-expand-lg" [ngClass]="collapsed ? 'nav-collapsed' : ''">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" (click)="toggleHidden()">
          <i class="bi bi-list"></i>
        </li>
        <li class="nav-item">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
      </ul>

      <ul class="d-flex align-items-center navbar-nav-two">
        <li>
          <div class="position-relative" routerLink="/shopping-cart">
            <i class="bi bi-cart-fill"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              1
            </span>
          </div>
        </li>
        <li>
          <div class="d-flex button-profile">
            <div class="d-flex align-items-center">
              <div class="background-circle">
                <i class="bi bi-person-circle"></i>
              </div>
            </div>
            <div class="name-type">
              <div>
                <p>César Cortés</p>
                <p>Custom</p>
              </div>
            </div>
          </div>
          <ul class="list-options">
            <li class="d-flex align-items-center">
              <i class="bi bi-person-circle"></i>
              <p>Profile</p>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-gear-fill"></i>
              <p>Profile</p>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-box-arrow-right"></i>
              <p>Log out</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sub-nav" [ngClass]="filter ? 'd-block': ''">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center img-switch">
          <img src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
            alt="" height="25px">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </div>
        <div class="d-flex align-items-center filters">
          <p>Filters</p>
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
