<div class="content">
  <app-sidebar></app-sidebar>
  <main [ngClass]="collapsed ? 'main-collapsed' : ''">
    <div class="row">
      <div class="col-md-12">
        <div class="card" [ngClass]="paddingTop ? 'paddingTop' : ''">
          <div class="card-body">
            <div class="divider-two d-flex">
              <div class="filter d-flex" [ngClass]="filter? 'd-none': ''">
                <div class="sections">
                  <div class="row">
                    <div class="col-md-12">
                      <section>
                        <div class="row">
                          <div class="col-md-12">
                            <p class="title">Prime</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="d-flex align-items-center">
                              <input class="form-check-input mt-0" type="checkbox" value="">
                              <img src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                                alt="" height="30px">
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section>
                        <p class="title">Deparment</p>
                        <p>Computers, Components and Accessories</p>
                        <p>Laptops</p>
                        <p>Computer accessories</p>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section>
                        <p class="title">Customer reviews</p>
                        <div class="stars d-flex">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                          <p>& up</p>
                        </div>
                        <div class="stars d-flex">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                          </div>
                          <p>& up</p>
                        </div>
                        <div class="stars d-flex">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                          </div>
                          <p>& up</p>
                        </div>
                        <div class="stars d-flex">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                          </div>
                          <p>& up</p>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section>
                        <p class="title">Marca</p>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>Asus</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>HP</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>Dell</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>Sony</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>Apple</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                          <p>Samsung</p>
                        </div>
                        <div class="d-flex align-items-center more">
                          <i class="fa fa-angle-down"></i>
                          <p>Ver más</p>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section>
                        <p class="title">Price</p>
                        <p>Under $350</p>
                        <p>$350 a $750</p>
                        <p>$750 a $1500</p>
                        <p>$1500 a $3000</p>
                      </section>
                    </div>
                  </div>
                </div>
                <div class="d-flex" style="height: auto;">
                  <div class="vr"></div>
                </div>
              </div>
              <div class="products">
                <div class="row">
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product" routerLink="/product-detail">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="changeCol? 'col-md-4': 'col-md-3'">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="content-img">
                            <img src="https://images.unsplash.com/photo-1586952518485-11b180e92764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=905&q=80"
                            alt="">
                          </div>
                        </div>
                      </div>
                      <div class="information">
                        <p class="title">Title</p>
                        <div class="stars">
                          <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </div>
                        <p class="category">Category</p>
                        <div class="d-flex">
                          <p>$</p>
                          <div class="d-flex align-items-center">
                            <p class="price">100.00</p>
                            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/prime/marketing/slashPrime/amazon-prime-delivery-checkmark._CB659998231_.png"
                              alt="">
                          </div>
                        </div>
                        <p class="arrived">Entrega GRATIS el miércoles, 31 de Agosto</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
